html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 12px;
  font-family: 'SF UI Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  background-color: aliceblue;
}


#root {
  margin: auto;
  cursor: move;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  overflow: hidden;
}

.org-chart-entity-link:hover g {
  fill: #409cf9 !important;
}
.org-chart-node .org-chart-counts {
  fill: #409cf9 !important;
}
